/* Color Picker Button Styles */


 /* START : color picker buttons */
.colorButtonsBase {
   width:70px;
   height:25px;
   padding:2px;
   margin: 6px;
}


.colorButtonBlack { /* Black color picker button */
  background-color:#000;
}

.colorButtonBlue { /* Blue color picker button */
  background-color:#00f;
}

.colorButtonGreen { /* Green color picker button */
  background-color:#093;
}

.colorButtonRed { /* Red color picker button */
  background-color:#f30;
}
/* END : color picker buttons */

/* START : Clear Button */
#clearDrawPadButton { /* Red color picker button */
  float:right;
  margin-left: 180px;
  background-color:#6b695e;
}


.colorButtonBase li a:hover {
    /*background-color: lightSkyBlue;*/
    border-color: #fff;
}



/* START : Color Picker Menu */

#horizontalmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
 }

#horizontalmenu li {
  float: left;
  position: relative;
  padding-right: 20;
  text-align:center;
  color: #fff;
  display: block;
  border: 2px solid #fff;
  border-radius: 5px 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-style: inset;
}
/* Hides the list items of the unordered list. */
#horizontalmenu li ul {
  display: none;
  position: absolute;
}

#horizontalmenu li:hover ul{
  display: block;
  /*background: none;*/
  background-color: purple;
  height: auto;
  width: 8em;
}
/* No floating elements allowed on either the left or the right side of
the elements. */
#horizontalmenu li ul li{
  clear: both;
  border-style: none;
}
/* END : Color Picker Menu */
