#mainContainer{
  background-color: gray;
  height: 500px;
  width: 600px;
  border-radius: 5px 5px;
  margin: 0 auto;
  /* Auto center
  margin-left: auto; use
  margin-right: auto; */
  overflow: scroll;
  box-shadow:0px 0px 30px black;
}

.drawPad{
  padding: 10px;
}

/* Draw pad */
.drawPad ul {
    border-right: 1px solid #000;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drawPad div {
list-style: none;
    /*list-style-type: none;*/
    width: 10px;
    height: 10px;
    position: static;
    float: left; /* make menu horizontal */
    /*padding: 1px;*/
    /*margin-bottom: 1px;*/
    background-color :snow;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 2px  rgba(0,0,0,0.24);
}
/*.drawPad li:hover {
    background-color: grey;
}

.drawPad li a:active {
    background-color: #4CAF50;
    color: black;
}*/

.gridArea {
  background-color :cornflowerblue;
}

#gridArea {

        border: 1px solid black;
    }
